/* .App {
  text-align: center;
} */


@import url('https://fonts.googleapis.com/css2?family=Grand+Hotel&family=Inspiration&family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,600;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,100;1,300;1,400;1,500&family=Work+Sans:wght@300&display=swap');

body{
  /* overflow: hidden; */
}
.App{
  text-align: center;
  min-height : 100vh;
  display:flex;
  background: url('./background.png');
  background-size: cover;
  background-position: center;
  color: black !important;
}




::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-thumb{
  background:rgba(136,136,136,0.281);
}

::-webkit-scrollbar-thumb:hover{
  background:#555;
}